@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(calc(-1 * var(--from-x, 0rem)));
    }
    100% {
        transform: translateX(var(--target-x, 0rem));
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(var(--from-x, 0rem));
    }
    0% {
        transform: translateX(calc(-1 * var(--target-x, 0rem)));
    }
}

.animate-slideIn {
    animation-name: slideIn;
    animation-duration: 150ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}